#logo {
    height: 32px;
    margin-top: -8px;
    margin-right: 10px;
    margin-left: 30px;
}

.navbar {
    padding-top: 8px;
    padding-bottom: 6px;
    font-family: 'Antic', "Lucida Sans Unicode", sans-serif;
    background-color: #2A2A2A;
    color:#BCCE98;
}

.navbar a {
    margin-left:10px;
    margin-right:10px;
    font-size:20px;
    color:#BCCE98;
}

.navbar-inverse .navbar-nav li a {
  color:#BCCE98;
}

.navbar-inverse .navbar-brand {
    color:#BCCE98; 
}

body.logged-out{
    background-image: url("/static/map2.png");
    font-family: 'Antic', "Lucida Sans Unicode", sans-serif;
}

body { 
    margin:0; 
    padding:0; 
    font-family: 'Antic', "Lucida Sans Unicode", sans-serif;
}

#map { 
    position: fixed; 
    top: 67px; 
    bottom: 0px;
    width:100%;
}

#header1 {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.filter-ui {
  visibility: hidden;
  background:#fff;
  position:fixed;
  top:67px;
  right:0px;
  z-index:100;
  padding:10px;
  border-radius:3px;
  }

.container-fluid {
    margin: 0;
    padding: 0;
}

/* Jumbotron styling */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  border-bottom: 0;
  padding-right: 60px;
  padding-left: 60px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 320px;
  border-width: 3px;
  border-style: solid;
  background-color:black;
  opacity:.8;
  color:white;
}

.jumbotron button, .jumbotron .btn {
  color:white;
}

.jumbotron button:hover {
  background-color:white;
  color:black;
}

.jumbotron input:hover{
  background-color:white;
  color:black;   
}


.jumbotron input {
  color:black;
}

.jumbotron p {
    margin-top: 14px;
}

.jumbotron .p-login {
    margin-top:-15px;
    margin-bottom:15px;
    padding-bottom:15px;
}

.jumbotron #p-register{
  margin-top:-10px;
  font-size:24px;
}

#jumbotron-register {
    margin-top:140px;
}

.jumbotron h2 {
    margin-top:auto;
}

.homepage-button {
    font-size:25px;
    padding-left: 16px;
    padding-right:16px;
    border: 2px solid;
    border-radius: 10px;
    background-color: transparent;
    color:black;
}

.btn {
    font-size:25px;
    padding-left: 16px;
    padding-right:16px;
    border: 2px solid;
    border-radius: 10px;
    background-color: transparent;
    color:black;
}

.login-form {
  text-align:center;
}