<!doctype html>
<html>
<head>
    <title>Skillit</title>
    {% block head %} {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
    	body {
    	    background-image: url("/static/map2.png");
    	}
    </style>
</head>

<body>
	<div class="container-fluid">
    	{% include 'navbar.html' %}
	<div>
{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul class=flashes>
		{% for message in messages %}
			<li> {{ message }} </li>
		{% endfor %}
		</ul>
	{% endif %}
{% endwith %}

{% block body %} {% endblock %}
</body>
</html>