{% extends 'base.html' %}
{% block head %}
    {% if 'email' in session.keys() %}
        <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
    {% endif %}
{% endblock %}

{% block body %}
{% if 'email' in session.keys() %}
    <nav id='filters' class='filter-ui'></nav>
    <div id='map'></div>
    
    <script>
        var filters = document.getElementById('filters');
        var checkedin = {{ checkedin }};
        var fav_hobbies = {{ fav_hobbies | safe }};
        var session = {{ session | tojson }};
    </script>
    <script src="/static/js/map.js"></script>
{% else %}
    <div class="jumbotron" style="margin-top:300px">
        <h2>Welcome to Skillit</h2>
        <h4>Find a buddy and cook up some skills</h4>
        <br>
        <a href="/login" style="margin-right:15px"><button type="button" class="homepage-button">Log in</button></a>
        <a href="/register"><button type="button" class="homepage-button">Register</button></a>
    </div>
{% endif %}
{% endblock %}