 {% extends 'base.html' %}
 {% block head %}
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
{% endblock %}

{% block body %}
<form action='/register' method='POST'>
    <p><label>Full name:</label>
    <input type="text" name="name" id="name">
    </p>
    <p><label>Username:</label>
    <input type="text" name="username" id="username">
    </p>
    <p><label>Password:</label>
    <input type="password" name="password" id="password">
    </p>
    <p><label>Email:</label>
    <input type="text" name="email" id="email">
    </p>
    <p><label>Phone number:</label>
    <input type="text" name="phone" id="phone">
    </p>
    <p>
    <br>
    <input type="submit" value="Submit">
    </p>
</form>
{% endblock %}