{% extends 'base.html' %}
{% block head %}
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
{% endblock %}

{% block body %}
    <p>Hello!</p>
    {% if 'email' in session.keys() %}
        <ul>
            <li>Name: {{ user.name }}
            <li>Username: {{ user.username }}</li>
            {% if fav_hobbies %}
                <li>Saved hobbies</li>
                <ul>
                {% for fav_hobby in fav_hobbies %}
                    <li>{{ fav_hobby }}</li>
                    <li>{{ fav_hobby.hobby.name }} (<button type="button" id="{{fav_hobby.hobby_id}}">Remove</button>)</li>
                {% endfor %}
                </ul>
            {% endif %}
        </ul>
        <br>
        <p>Would you like to add a new hobby to your favorites?</p>
        <form action="/add_hobby" method="POST">
            
            <p><label>Please select an existing hobby</label>
            <select name="hobby">
            
            {% for hobby in all_hobbies %}
                {% if hobby not in fav_hobby_names %}
                    <option value="{{ hobby }}">{{ hobby }}</option>
                {% endif %}
            {% endfor %}
            </select>
            <input type="submit" name="hobbysubmit" value="Add to profile">
            <p><label>Can't find your hobby? Add it below!</label></p>
            <input type="text" name="newhobby">
            <input type="submit" name="newhobbysubmit" value="Add to profile">
        </form>
        <script>
            $(':button').on('click', function(){
                var hobby_id = $(this).context.id;
                $.post('/remove_hobby', {'hobby_id' : hobby_id});
                // Reload the page so that newly removed hobby is no longer visible
                var url = "/users/profile";
                $(location).attr('href',url);
            });
        </script>
    {% endif %}
{% endblock %}